.courses_page{
        background: url(../resources/background_CoursesPage.png) no-repeat, url(../resources/lower_background_LP.png) repeat;
        background-color: var(--second-color-plate);
        background-size: 100%;

}
.courses_head .nav_but a:nth-child(3):after{
    width: 100%;
}
.courses>ul{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;
}
.courses>ul>li{
    padding:0 20px 30px;
}
.courses>ul>li>a>img{
    box-shadow: 0px 0px 200px #843fc479;
    border-radius: 7px;
}
.courses>ul>li>a>img{
    width:250px;
    height: 327px;
}

@media only screen and (max-width: 1110px) {
    .courses>ul>li>a>img{
        width: 150px;
        height: 196px;
    }
}